<!DOCTYPE>
<html>
<head>
  <title>Operation!</title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <div class="main">
    <img class="downsized pushy" src="imgs/operationlogo.jpg" alt="">

    <p>Use CSS to position the wishbone, bread, heart, and butterfly in the appropriate spots!</p>

    <div class="operation">
      <div id="board">
        <img class="wishbone" src="imgs/wishbone.png">
        <img class="breadbasket" src="imgs/breadbasket.png">
        <img class="heart" src="imgs/heart.png">
        <img class="butterflies" src="imgs/butterflies.png">
      </div> <!-- end #board -->
    </div> <!-- end .operation -->
  </div> <!-- end .main -->

</body>
</html>
