body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0 auto
}

.downsized {
  width: 75%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 2em;
  margin-top: 1em;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}

img {
  display: block;
}

#board {
  position: relative;
  height: 100%;
  width: 400px;
  background-image: url("../imgs/operation.png");
  background-repeat: no-repeat;
}

p {
  margin: 1em;
}

.wishbone {
  position: relative;
  top: 50px;
  margin-left: 170px;
}

.breadbasket {
 position: relative;
 margin-left: 200px;
}

.heart {
  position: relative;
  margin-left: 235px;
  top: 35;
 }

.butterflies {
 margin-left: 215px;
}
